:root{
  --primary: #007BFF;
  --secondary: #6C757D;
  --background: #ffffff;
  --text: #212529;
  --grey: #F8F9FA;
  --darkgrey: #CCCCCC;
  --shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

::-webkit-scrollbar {
  width: 0px; 
  height: 0px;
}

::-webkit-scrollbar-track {
  background: var(--grey);
}

::-webkit-scrollbar-thumb {
  background: var(--primary); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

/* login */

.login{
  background-color: var(--grey);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-content{
  width: 80%;
  height: 80vh;
  background-color: var(--grey);
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.login-image{
  background-color: var(--grey);
  display: flex;
  align-items: center;
  height: 100%;
  width: 40%;
}

.login-image img{
  width: 90%;
  padding: 0 8vw;
}

.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  background-color: var(--background);
}

.content{
  margin-top: 5vh;
}

.login-head{
  font-size: 1.5vw;
  color: var(--text);
  margin-bottom: 5vh;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.input{
  border: 0.5px solid var(--darkgrey);
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0.3vw 0.1vw 0.3vw 0.5vw;
  margin-bottom: 0.3vh;
}

.input input{
  border: none;
  width: 100%;
  outline: none;
  color: var(--text);
  box-shadow: none; 
}

.input input:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.input input::placeholder{
  color: var(--darkgrey);
  font-size: 0.9vw;
}

.input .eye{
  width: 2vw;
  height: 3.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--text);
}

.form button{
  background-color: var(--primary);
  border: 1px solid transparent;
  padding: 0.5vh;
  margin-top: 2vh;
  border-radius: 5px;
  font-weight: 600;
  color: var(--background);
  transition: 200ms;
}

.form button:hover{
  background-color: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
}

.note{
  font-size: 0.8vw;
  color: var(--text);
  text-align: end;
  margin-top: 1vh;
}

.note span{
  color: var(--primary);
  font-size: 0.9vw;
  font-weight: 500;
  cursor: pointer;
}

/* main page css */

.main{
  padding: 1vh;
  width: 100vw;
  height: 100vh;
  background-color: var(--grey);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1vh;
}

.main-body{
  width: 82vw;
}

/* side nav bar css */

.side-nav{
  height: 100%;
}

.side{
  height: 100%;
  background-color: var(--background);
  box-shadow: var(--shadow);
  border-radius: 1vw;
  padding: 5vh 0;
  overflow-y: scroll;
}

.brand{
  padding: 0 2vw;
  display: flex;
  justify-content: center;
}

.brand img{
  width: 8vw;
}

.nav-list{
  margin-top: 5vh;
}

.nav-item {
  cursor: pointer;
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  color: var(--text);
  text-decoration: none;
  padding: 2vh 1vw;
  transition: background-color 0.2s ease;
  margin-bottom: 0.2vh;
}

.nav-item p{
  margin-bottom: 0;
  font-size: 2vh;
}

.nav-item .icon{
  font-size: 2vh;
}

.nav-item:hover {
  background-color: var(--grey); 
}

.nav-item:hover .icon{
  color: var(--primary);
}

.nav-item .icon, .nav-item .link-name {
  background-color: transparent;
}

.active{
  background-color: var(--grey);
  border-right: 2px solid var(--primary);
}

.active .icon{
  color: var(--primary);
}

/* header css */

.header{
  background-color: var(--background);
  box-shadow: var(--shadow);
  border-radius: 1vw;
  padding: 1vh 0.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
}

.header-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.menu-icon .menu{
  font-size: xx-large;
}

.menu-icon{
  width: 3vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grey);
  color: var(--primary);
  border-radius: 0.8vw;
}

.header-note h2{
  font-size: 1.5vw;
  color: var(--primary);
}

.button{
  height: 3vw;
  width: 3vw;
  background-color: var(--grey);
  color: var(--primary);
  border-radius: 0.8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header .notification-button {
    position: relative;
}

.header .notification-button::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: red; 
    border-radius: 50%;
    border: 2px solid white;
}

.component{
  padding: 1vh 0;
  height: 89.2vh;
}

/* dashboard css */

.dashboard{
  display: flex;
  gap: 0.5vw;
}

.details{
  background-color: var(--background);
  padding: 2vw;
  border-radius: 1vw;
  box-shadow: var(--shadow);
  height: 88vh;
  display: flex;
  flex-direction: column;
  gap: 9vh;
}

.profit-data{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profit{
  background-color: var(--grey);
  margin: 0.2rem;
  padding: 2vh;
  border-radius: 1vw;
  width: 96%;
}

.profit .profit-head{
  font-size: small;
  color: var(--secondary);
  margin: 0;
}

.profit .amount{
  font-size: xx-large;
  color: var(--primary);
  margin: 0;
}

.sales-chart{
  /* margin-top: 5vh; */
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.sales-chart h3{
  font-size: medium;
  text-align: center;
  color: var(--text);
}

.profit-table-data{
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.stock-data{
  background-color: var(--background);
  width:120.5%;
  border-radius: 1vw;
  padding: 1vw;
  box-shadow: var(--shadow);
  height: 43.5vh;
}

.profit-table-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--text);
}

.profit-table-head .head{
  font-size: medium;
  font-weight: 700;
  color: var(--text);
  margin: 0;
}

.profit-table-head .link{
  font-size: small;
  color: var(--primary);
  text-decoration: underline;
  margin: 0;
  cursor: pointer;
}